<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produkte</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <!-- Beispiel für eine CSS-Datei -->
  </head>
  <body>
    <%- include('header') %>
    <main>
      <h1>Produkte</h1>
      <a href="/">Zurück zur Hauptseite</a>
      <ul>
        <% products.forEach(product => { %>
        <li class="product">
          <a href="/products/<%= product.id %>">
            <img
              src="<%= product.image %>"
              alt="<%= product.name %>"
              class="product-image"
            />
          </a>
          <div class="product-info">
            <h2><%= product.name %></h2>
            <p><%= product.description %></p>
            <p>Preis: <%= product.price %> €</p>
          </div>
        </li>
        <% }); %>
      </ul>
    </main>
    <%- include('footer') %>
  </body>
</html>
